#wowslider-container1 .ws_pause {
	display:none !important;
    background-image: url("./pause.png");
}

#wowslider-container1 .ws_bullets .ws_bulframe {
    border: 5px solid #ffffff;
    box-shadow: 0 0 5px #999999;
    cursor: pointer;
    display: none !important;
    overflow: visible;
    position: absolute;
}

div.ws_thumbs div a img {
	max-height:90px;
	min-height:80px;
}

#wowslider-container1 {
    border: 9px solid #fff;
    left: -10px;
    margin: 9px auto;
    max-width: 740px !important;
	height:480px !important;
    position: relative;
    text-align: left;
    z-index: 90;
}

#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
    background-image: url("./arrows.png");
    display: none;
    height: 60px;
    margin-top: -28px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    width: 30px !important;
    z-index: 60;
}

#wowslider-container1 .ws_thumbs {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    overflow: auto;
    position: absolute;
    top: 640px !important;
    z-index: 70;
}

#wowslider-container1 .ws_thumbs a img {
    border: 2px solid rgba(255, 255, 255, 0.4) !important;
    box-shadow: 0 1px 1px #ffffff inset, 0 1px 3px rgba(0, 0, 0, 0.4);
    margin: 3px;
    max-width: none;
    opacity: 0.5;
    text-indent: 0;
}


