
/*@import "http://fonts.googleapis.com/css?family=Simonetta&subset=latin,latin-ext";*/
#wowslider-container1 {
    border: 9px solid #ffffff;
    margin: 9px auto 129px;
    max-width: 960px;
    position: relative;
    text-align: left;
    z-index: 90;
}
* html #wowslider-container1 {
    width: 960px;
}
#wowslider-container1 .ws_images ul {
    border-spacing: 0;
    height: auto;
    left: 0;
    list-style: outside none none;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 10000%;
}
#wowslider-container1 .ws_images ul li {
    float: left;
    font-size: 0;
    line-height: 0;
    margin: 0 !important;
    padding: 0 !important;
    width: 1%;
}
#wowslider-container1 .ws_images {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
}
#wowslider-container1 .ws_images a {
    color: transparent;
    display: block;
    width: 100%;
}
#wowslider-container1 img {
    max-width: none !important;
}
#wowslider-container1 .ws_images img {
    border: 0 none;
    max-width: none;
    padding: 0;
    width: 100%;
}
#wowslider-container1 a {
    border: medium none;
    outline: medium none;
    text-decoration: none;
}
#wowslider-container1 .ws_bullets {
    float: left;
    font-size: 0;
    position: absolute;
    z-index: 70;
}
#wowslider-container1 .ws_bullets div {
    float: left;
    position: relative;
}
#wowslider-container1 a.wsl {
    display: none;
}
#wowslider-container1 sound, #wowslider-container1 object {
    position: absolute;
}
#wowslider-container1 .ws_bullets {
    padding: 10px;
}
#wowslider-container1 .ws_bullets a {
    background: url("./bullet.png") repeat scroll left top rgba(0, 0, 0, 0);
    color: transparent;
    float: left;
    height: 19px;
    margin-left: 5px;
    position: relative;
    text-indent: -4000px;
    width: 20px;
}
#wowslider-container1 .ws_bullets a.ws_selbull, #wowslider-container1 .ws_bullets a:hover {
    background-position: 0 100%;
}
#wowslider-container1 a.ws_next, #wowslider-container1 a.ws_prev {
    background-image: url("./arrows.png");
    display: none;
    height: 60px;
    margin-top: -28px;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    width: 34px;
    z-index: 60;
}
#wowslider-container1 a.ws_next {
    background-position: 100% 0;
    right: 10px;
}
#wowslider-container1 a.ws_prev {
    background-position: 0 0;
    left: 10px;
}
#wowslider-container1 a.ws_next:hover {
    background-position: 100% 100%;
    opacity: 1;
}
#wowslider-container1 a.ws_prev:hover {
    background-position: 0 100%;
    opacity: 1;
}
* html #wowslider-container1 a.ws_next, * html #wowslider-container1 a.ws_prev {
    display: block;
}
#wowslider-container1:hover a.ws_next, #wowslider-container1:hover a.ws_prev {
    display: block;
}
#wowslider-container1 .ws_bullets {
    bottom: -45px;
    left: 50%;
}
#wowslider-container1 .ws_bullets div {
    left: -50%;
}
#wowslider-container1 .ws-title {
    background: none repeat scroll 0 0 #000000;
    border-radius: 0;
    bottom: 0;
    color: #ffffff;
   /* font-family: "Simonetta",Comic Sans MS,cursive;*/
    font-size: 24px;
    font-weight: normal;
    left: 0;
    line-height: 26px;
    opacity: 0.5;
    padding: 10px 1%;
    position: absolute;
    text-align: center;
    text-transform: none;
    width: 98%;
    z-index: 50;
}
#wowslider-container1 .ws-title div {
    font-size: 15px;
    line-height: 17px;
    padding-top: 5px;
    text-transform: none;
}
#wowslider-container1:hover .ws-title {
    opacity: 0.8;
}
#wowslider-container1 .ws_thumbs {
    overflow: auto;
    position: absolute;
    z-index: 70;
}
#wowslider-container1 .ws_thumbs a {
    color: transparent;
    font-size: 0;
    opacity: 0.9;
    position: relative;
    text-indent: -4000px;
}
#wowslider-container1 .ws_thumbs a:hover {
    opacity: 1;
}
#wowslider-container1 .ws_thumbs a:hover img {
    visibility: visible;
}
#wowslider-container1 .ws_thumbs {
    bottom: -120px;
    height: 106px;
    left: 0;
    width: 100%;
}
#wowslider-container1 .ws_thumbs div {
    height: 100%;
    letter-spacing: -4px;
    position: relative;
    width: 132em;
}
#wowslider-container1 .ws_thumbs .ws_selthumb img {
    opacity: 1;
}
#wowslider-container1 .ws_thumbs a img {
    border: 4px solid #ffffff;
    box-shadow: 0 1px 1px #ffffff inset, 0 1px 3px rgba(0, 0, 0, 0.4);
    margin: 3px;
    max-width: none;
    opacity: 0.5;
    text-indent: 0;
}
#wowslider-container1 .ws_images > ul {
    animation: 35.2s ease 0s normal none infinite running wsBasic;
}
@keyframes wsBasic {
0% {
    left: 0;
}
6.82% {
    left: 0;
}
12.5% {
    left: -100%;
}
19.32% {
    left: -100%;
}
25% {
    left: -200%;
}
31.82% {
    left: -200%;
}
37.5% {
    left: -300%;
}
44.32% {
    left: -300%;
}
50% {
    left: -400%;
}
56.82% {
    left: -400%;
}
62.5% {
    left: -500%;
}
69.32% {
    left: -500%;
}
75% {
    left: -600%;
}
81.82% {
    left: -600%;
}
87.5% {
    left: -700%;
}
94.32% {
    left: -700%;
}
}
@keyframes wsBasic {
0% {
    left: 0;
}
6.82% {
    left: 0;
}
12.5% {
    left: -100%;
}
19.32% {
    left: -100%;
}
25% {
    left: -200%;
}
31.82% {
    left: -200%;
}
37.5% {
    left: -300%;
}
44.32% {
    left: -300%;
}
50% {
    left: -400%;
}
56.82% {
    left: -400%;
}
62.5% {
    left: -500%;
}
69.32% {
    left: -500%;
}
75% {
    left: -600%;
}
81.82% {
    left: -600%;
}
87.5% {
    left: -700%;
}
94.32% {
    left: -700%;
}
}
#wowslider-container1 {
    box-shadow: 0 1px 1px #ffffff inset, 0 1px 3px rgba(0, 0, 0, 0.4);
}
#wowslider-container1 .ws_bullets a img {
    border: 5px solid #ffffff;
    bottom: 16px;
    box-shadow: 0 0 5px #000000;
    display: block;
    left: -75px;
    max-width: none;
    position: absolute;
    text-indent: 0;
    visibility: hidden;
}
#wowslider-container1 .ws_bullets a:hover img {
    visibility: visible;
}
#wowslider-container1 .ws_bulframe div div {
    height: 90px;
    overflow: visible;
    position: relative;
}
#wowslider-container1 .ws_bulframe div {
    background-color: #ffffff;
    left: 0;
    overflow: hidden;
    position: relative;
    width: 150px;
}
#wowslider-container1 .ws_bullets .ws_bulframe {
    border: 5px solid #ffffff;
    bottom: 24px;
    box-shadow: 0 0 5px #000000;
    cursor: pointer;
    display: none;
    overflow: visible;
    position: absolute;
}
#wowslider-container1 .ws_bulframe span {
    background: url("./triangle.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: -10px;
    display: block;
    height: 6px;
    left: 75px;
    margin-left: -3px;
    position: absolute;
    width: 15px;
}
#wowslider-container1 {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABwSURBVEjH7ZJBEsAgCAMT/v/n9NCOSqe2oD2yNx1JggB4BCEFWyFASP2KMQE7ywWhe/tTRGCGogLk02tFctiW/SUgaMyQG4PdPzDn31rQbMb8FiAXgvsEJNax1yVlVGAjA93apP3HFhZTGIqiKH7iADB6HxPlHdNVAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE0LTA3LTA3VDEzOjQ5OjEwKzAyOjAwm7WiFAAAACV0RVh0ZGF0ZTptb2RpZnkAMjAxNC0wNy0wN1QxMzo0OToxMCswMjowMOroGqgAAAAASUVORK5CYII="), move;
}
#wowslider-container1.grabbing {
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAABaSURBVEjH7ZMxCkAhDEOT8u9/5TpJ+xWkFse8IYutJgEB8RCHL1qCc90BEFnT6QH7mwgFHBUf8wJyS1TDLuc3vmighx37LZdIth3E5hKj9n6O0HRh+oJCiFcMxRUUDxR1CTMAAAAldEVYdGRhdGU6Y3JlYXRlADIwMTQtMDctMDdUMTM6NDk6MzgrMDI6MDDqf+sOAAAAJXRFWHRkYXRlOm1vZGlmeQAyMDE0LTA3LTA3VDEzOjQ5OjM4KzAyOjAwmyJTsgAAAABJRU5ErkJggg=="), move;
}
